html(ng-app='app')
	head
		link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='sweetalert2/dist/sweetalert2.css')
		title NodeJS
	body(ng-controller='appController')
		nav.navbar.navbar-inverse
			a.navbar-brand NodeJS
			ul.nav.navbar-nav
				li.nav-item.active
					a.nav-link(ui-sref='/') Home
				li.nav-item
					a.nav-link(ui-sref='/about') About
			ul.nav.navbar-nav.navbar-right(style='margin-right: 5px;')
				li.nav-item
					a.nav-link(ui-sref='/login') Login
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Account
						span.caret
					ul.dropdown-menu
						li
							a Login
						li
							a Register
		div.container(ui-view='')
			block content
				h1 No content filled in yet.
		script(src='jquery/dist/jquery.min.js')
		script(src='bootstrap/dist/js/bootstrap.min.js')
		script(src='angular/angular.min.js')
		script(src='angular-ui-router/release/angular-ui-router.min.js')
		script(src='socket.io-client/socket.io.js')
		script(src='sweetalert2/dist/sweetalert2.min.js')
		script(src='js/setup.js')
		script(src='js/index.js')
		script(src='js/views/layout.js')