nav.navbar.navbar-inverse
	a.navbar-brand NodeJS
	ul.nav.navbar-nav
		li.nav-item.active
			a.nav-link(ui-sref='/') Home
		li.nav-item
			a.nav-link(ui-sref='/about') About
div.container
	block content
		h1 No content filled in yet.